<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.bedezign.docker-gen</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/docker-gen</string>
		<string>-config</string>
		<string>/Users/steve/.docker-gen/docker-gen.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/docker-gen.log</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/docker-gen.log</string>
	<key>WorkingDirectory</key>
	<string>/usr/local</string>
</dict>
</plist>
